<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jax.reactivex">

    <application
        android:name=".AppApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="Demos"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".detail.SubjectDemoActivity"
            android:label="Subject" />
        <activity
            android:name=".detail.SingleDemoActivity"
            android:label="Single" />
        <activity
            android:name=".detail.SchedulerDemoActivity"
            android:label="Scheduler调度器" />
        <activity
            android:name=".detail.CreateDemoActivity"
            android:label="创建操作" />
        <activity
            android:name=".detail.TransformDemoActivity"
            android:label="变换操作" />
        <activity
            android:name=".detail.FilterDemoActivity"
            android:label="过滤操作" />
    </application>

</manifest>