<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ytxx.contentprovider">

    <permission
        android:name="com.ytxx.JaxProvider.Read"
        android:protectionLevel="normal" />
    <permission
        android:name="com.ytxx.JaxProvider.Write"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="demos"
                    android:path="/ContentProvider"
                    android:scheme="jax" />
            </intent-filter>
        </activity>
        <provider
            android:name="com.ytxx.contentprovider.provider.JaxProvider"
            android:authorities="${applicationId}.JaxProvider"
            android:exported="true"
            android:readPermission="com.ytxx.JaxProvider.Read"
            android:writePermission="com.ytxx.JaxProvider.Write" />
    </application>

</manifest>